.myModal{
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    position: fixed;
    background: rgba(0,0,0, 0.5);
}

.myModalContent{
    background: white;
    min-width: 350px;
    min-height: 30vh;
    padding: 15px;
    border-radius: 16px;
}

.myModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
}