* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    color: #171515;
    font-size: 18px;
}
.container {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column;
    padding-bottom: 10px;
}
.container form {
    border-right: 5px;
    padding: 20px;
    width: 600px;
}
.container form .inputBox {
    margin-top: 20px;

}
.container form .inputBox span {
    display: block;
    color: #171515;
    padding-bottom: 5px;
}
.container form .inputBox input,
.container form .inputBox select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0, .3);
    color: #171515;
}
.container form .flexbox {
    display: flex;
    gap: 15px;
}
.container form .flexbox .inputBox {
    flex: 1 1 150px;
}
.container .btn {
    width: 100%;
    border-radius: 13px;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    background:  #171515;
    color: #ededed;
    cursor: pointer;
}
.container form .text{
    margin: 5px;
    color: #ff4141;
}